*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
C:\Users\mthornton\.AndroidStudio4.0\config\scratches\scripts\AutomatedLogCat\Recordings
.mp4